<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear una nueva nota</title>
</head>
<body>
    <h1>Crear una nueva nota</h1>
    <form action="" method="POST">
        <!-- <label for="nota">Nota</label> -->
        <input type="text" name="title-note" id="title-note" placeholder="Título" value="{{ note.title }}"><br>
        <input type="text" name="content-note" id="content-note" placeholder="Contenido de la nota" value="{{ note.content }}"><br>

        <input type="submit" value="Guardar Nota">
    </form>
</body>
</html>