<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de inicio</title>
</head>
<body>
    <h1>Bienvenido a Flask Notes</h1>
    <h3>Usuario: {{ role }}</h3>
    {% if role == 'admin' %}
        <button>Eliminar</button><!-- Se muestre en el caso que usuario sea admin -->
    {% else %}
        <button>Solicitar eliminación</button>
    {% endif %}

    <hr>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <ul>
        {% for note in notes %}
            <li>
                <h3>{{ note.title }} </h3>
                <p>
                    {{ note.content }} |
                    <a href="{{ url_for('notes.edit_note', id=note.id) }}">
                        ✏ Editar Nota
                    </a>
                    <form action="{{ url_for('notes.delete_note', id=note.id) }}" method="post">
                        <button type="submit">
                            🗑 Eliminar Nota
                        </button>
                    </form>
                    {#<!-- <button formaction="{{ url_for('notes.delete_note', id=note.id) }}" formmethod="post" type="submit">
                        🗑 Eliminar Nota
                    </button> -->#}
                </p>
                
            </li>
            {% else %}
            <h3>Aun no se han creado notas.</h3>
        {% endfor %}
    </ul>   

    <button type="button" onclick="window.location.href='{{ url_for('notes.create_note') }}'">
        Agregar una nueva nota
    </button>
    
</body>
</html>